.container {
  padding: 25px;
  display: grid;
  place-content: center;
  min-height: 100vh;
  grid-template-areas:
    "Perfil       Perfil    Perfil    Perfil    Menu      Menu      Menu      Menu      Menu      Idioma"
    "Perfil       Perfil    Perfil    Perfil    Proyecto  Proyecto  Proyecto  Proyecto  Proyecto  Proyecto"
    "AboutMe      AboutMe   AboutMe   AboutMe   Proyecto  Proyecto  Proyecto  Proyecto  Proyecto  Proyecto"
    "AboutMe      AboutMe   AboutMe   AboutMe   Proyecto  Proyecto  Proyecto  Proyecto  Proyecto  Proyecto"
    "Aprendiendo  Formacion Formacion Formacion Proyecto  Proyecto  Proyecto  Proyecto  Proyecto  Proyecto"
    "Aprendiendo  Formacion Formacion Formacion Proyecto  Proyecto  Proyecto  Proyecto  Proyecto  Proyecto"
    "Aprendiendo  Formacion Formacion Formacion Proyecto  Proyecto  Proyecto  Proyecto  Proyecto  Proyecto";
  row-gap: 20px;
  column-gap: 20px;
}

@media (width <= 1024px) {
  .container {
    /* padding: 10px; */
    background: #4fc3dc;
    grid-template-areas:
      "Menu        Menu          Menu          Idioma"
      "Perfil      Perfil        Perfil        Perfil"
      "Perfil      Perfil        Perfil        Perfil"
      "Proyecto    Proyecto      Proyecto      Proyecto"
      "Proyecto    Proyecto      Proyecto      Proyecto"
      "Proyecto    Proyecto      Proyecto      Proyecto"
      "AboutMe     AboutMe       AboutMe       AboutMe"
      "Aprendiendo Aprendiendo   Aprendiendo   Aprendiendo"
      "Formacion   Formacion     Formacion     Formacion";
    gap: 20px;
  }
  .content1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
  }
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.707);
  border-radius: 16px;
  border: 3px solid rgb(42, 41, 45);
  padding: 10px;
}


/* background: rgba(0, 255, 17, 0.536);
  border: 3px solid rgba(0, 255, 17, 0.536); */



