.Perfil {
  grid-area: Perfil;
}

.Perfil1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.ContenedorTextoPerfil {
  max-width: 450px;
}

.TituloPerfil {
  font-size: 30px;
  padding: 0px 15px;
  font-weight: normal;
}

.nombre {
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #ff2d75,
    #4fc3dc
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .textoPerfilEnfoqueNet {
    font-size: 18px;
    padding: 0px 10px;
    font-weight: bold;
    color: #ff2d75;
  }
  
  .textoPerfilEnfoqueReact {
    font-weight: bold;
    color: #4fc3dc;
  }
  
  .TextoPerfil {
    font-size: 15px;
    font-weight: normal;
    padding: 0px 25px;
  }
  
  .contentFotoPerfil {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .fotoPerfil {
    width: auto;
    height: 170px;
    object-fit: contain;
    border-radius: 15px;
  }
  
  @media (width <= 550px) {
    .Perfil {
      width: 100vw;
    }
    .Perfil1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      padding: 20px;
    }
  }